//Search
.search {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1.6rem 5rem;
    pointer-events: none;
    visibility: hidden;
    background-color: var(--white-color);
    z-index: 2;
    display: flex;
    align-items: center;
}

.search-showed {
    visibility: visible;
    pointer-events: auto;
}

// .search-scrolled {
//     top: var(--header-only-navbar);
// }

.search-icon {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.search-input {
    flex: 1;
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    color: var(--text-color);
    background: none;
    padding: 1.2rem 0.2rem;

    &::placeholder {
        color: black;
        font-size: 2rem;
    }
}

.close-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

//Mobile
@media (max-width: 768px) {
    .search {
        z-index: 4;
        padding: 0.1rem 1.8rem;
    }

    .search-icon {
        width: 2rem;
    }

    .search-input {
        font-size: 1.6rem;
        &::placeholder {
            font-size: 1.6rem;
        }
    }
}
