.wrapper {
    padding-top: 20px;
    padding: 0px 20px;
    padding-bottom: 5rem;
}

.heading {
    padding: 5rem 0;
}

.heading__title {
    margin: 0 auto;
    font-weight: 500;
    width: max-content;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
}
