.wrapper {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.options {
    margin-bottom: 70px;
}

.options-title {
    position: relative;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--text-color);
    padding: 6px 0;
    text-transform: capitalize;
    cursor: pointer;

    & + .options-title {
        margin-left: 45px;
    }

    &::after {
        content: '';
        display: none;
        position: absolute;
        bottom: 1px;
        left: 0;
        display: block;
        height: 1px;
        width: 0%;
        background-color: var(--text-color);
        transition: width 0.2s linear;
    }

    &.active.options-title::after {
        width: 100%;
    }
}

.loading-section {
    width: 100%;
    padding-top: 6%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-title {
    font-size: 1.4rem;
    margin-bottom: 6px;
}

.loading-box {
    height: 6px;
    width: 300px;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow: hidden;
}

.loading-bar {
    width: 100px;
    height: 4px;
    background-color: black;
    position: relative;
    animation-name: loading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 2px;
}

@keyframes loading {
    0% {
        left: -100px;
    }

    50% {
        left: 98px;
    }

    100% {
        left: 300px;
    }
}

.product-list {
    position: relative;
}

.animated-product {
    opacity: 0;
    visibility: hidden;
    transform: translateY(8%);
    transition: all 0.8s ease;

    & + .animated-product {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.active {
        transition-delay: 1s;
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
}

.show-products-btn {
    margin-top: 20px;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 12px 30px;
}

// Tablet
@media (max-width: 1068px) {
    .wrapper {
        padding: 5rem 0;
    }

    .options {
        margin-bottom: 4rem;
    }

    .show-products-btn {
        margin-top: 0;
    }
}

//Mobile
@media (max-width: 300px) {
}
