.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.3rem;
}

.form {
    margin-top: 24px;
    width: 400px;
}

.form__item {
    position: relative;
    margin-bottom: 15px;
}

.form__password,
.form__email {
    width: 100%;
    padding: 12px 14px;
    font-family: 'Lora', serif;
    border: 1px solid var(--border-color);
    transition: border-color 0.1s ease-in-out;

    &::placeholder {
        font-family: 'Lora', serif;
    }

    &:focus {
        border-color: var(--text-color);
    }
}

.form__forgot-password {
    position: absolute;
    font-size: 1.3rem;
    color: var(--text-color-light);
    top: 12px;
    right: 12px;
    transition: color 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: var(--text-color);
    }
}

.form__button {
    margin-top: 5px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.register {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
}

.register__title {
    font-size: 1.3rem;
    color: var(--text-color-light);
}

.register__link {
    margin-left: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
        color: var(--primary-color);
    }
}

.form__invalid-message {
    font-size: 1.2rem;
    color: red;
}
