.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    flex: 1;
}

.actions-list {
    display: flex;
    align-items: center;
}

.action-item {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0.6rem;
    margin: 0 1.5rem;
}

.action-item {
    padding: 0.6rem;
    margin: 0 0.8rem;
    color: var(--header-light-text-color);
    font-size: 1.3rem;
    cursor: pointer;
    transition: color ease-in-out 0.2s;

    &:hover {
        color: var(--text-color);
    }

    &:hover .action-title {
        color: var(--text-color);
    }

    &:last-child {
        padding: 0 0.6rem;
        padding-right: 0;
        margin-right: 0;
        color: var(--text-color);
        font-size: 1.5rem;

        & span {
            margin: 0 0.6rem;
            font-size: 1.3rem;
            position: relative;
            top: -1px;
        }

        & .item-number {
            position: relative;
            top: 0.1rem;
            font-size: 1.3rem;
            line-height: 2.8rem;
        }
    }
}

.action-item__amount-item {
    margin-left: 4px;
}

.action-title {
    font-size: 1.3rem;
    color: var(--header-light-text-color);
    transition: color ease-in-out 0.2s;
}

.item-number {
    margin: 0px 0.6rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.action-item__icon {
    display: none;
    padding: 1.4rem;
    color: #1c1b1b;
    position: relative;

    & div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.action-item__icon-dot {
    position: absolute;
    top: 1.4rem;
    right: 0.9rem;
    background-color: var(--dot-cart-color);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
}

//Tablet
@media (max-width: 1180px) {
    .action-item {
        display: none;
    }

    .action-item__icon {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 2.2rem;
    }
}

//Mobile
@media (max-width: 768px) {
    .action-item__icon {
        font-size: 2rem;
        width: 3.8rem;
        padding: 1rem 0 1rem 2rem;
    }

    .action-item__icon-dot {
        top: 26%;
        right: -20%;
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media (max-width: 300px) {
    .action-item__icon {
        font-size: 2rem;
        width: 3.8rem;
        padding: 1rem 0 1rem 0rem;
        width: fit-content;
        margin-left: 8px;
    }
}
